/* small device start (phones) */
@media (max-width: 575px) { 
    a.navbar-brand {
        font-size: 14px !important;
    }
    button.navbar-toggler {
        font-size: 12px !important;
    }

    .d-block.w-100 {
    width:100% !important;
    height: 350px;
    border-radius: 0px 0px 5px 5px !important;
    }
    h5.fs-1.fw-bold.text-white {
        font-size: 24px;
    } 

    .col-md-6.my-sm-5 {
        margin-top: 20px !important;
        text-align: center;
        padding: 0 !important;
    }
    .col-md-6.py-md-5.ps-md-5 {
        text-align: center;
        margin: 20px 0px;
    }
    .castom-fs {
        font-size: 16px !important;
        font-weight: 700 !important;
    }

}



/* medium device (tablets) */
@media (min-width: 576px) and (max-width: 767px) { 
   
    
/* Large devices (desktops) */
@media (min-width: 768px) and (max-width: 991px) { 
   
}
